<footer class="page-footer font-small blue">
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Developed By:
      <a target="_blank" href="https://www.geu.ac.in"> Graphic Era Deemed to be University</a>
    </div>
    <!-- Copyright -->
</footer>