<nav class="navbar navbar-expand-lg navbar-dark  bg-primary">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
            <a class="nav-link text-white" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <div class="float-right">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                <a class="nav-link text-white" href="/users/login">Login</a>
                </li>
                <li class="nav-item">
                <a class="nav-link text-white" href="/users/register">Register</a>
                </li>
            </ul>
        </div>
      
      
    </div>
  </nav>