<% include ./includes/navigation.ejs %>
<div class="row mt-4">
    <div class="col-md-6 m-auto">
      <div class="card card-body">
        <h1 class="text-center mb-3"><i class="fas fa-sign-in-alt"></i>  Login</h1>
        <% include ./partials/messages %>
        <form action="/users/login" method="POST">
          <div class="form-group">
            <label for="employee_id">Employee ID</label>
            <input
              type="employee_id"
              id="employee_id"
              name="employee_id"
              class="form-control"
              placeholder="Employee ID"
            />
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input
              type="password"
              id="password"
              name="password"
              class="form-control"
              placeholder="Enter Password"
            />
          </div>
          <button type="submit" class="btn btn-primary btn-block">Login</button>
        </form>
        <p class="lead mt-4">
          No Account? <a href="/users/register">Register</a>
        </p>
      </div>
    </div>
  </div>
  
  <div class="container mt-2 text-center w-75">
    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
    width="60" height="60"
    viewBox="0 0 192 192"
    style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,192v-192h192v192z" fill="none"></path><g id="Layer_1"><path d="M152,20h-92c-11.044,0 -20,8.956 -20,20v108l27.86,-28h84.14c11.044,0 20,-8.956 20,-20v-60c0,-11.044 -8.956,-20 -20,-20z" fill="#1565c0"></path><path d="M132,44h-92c-11.044,0 -20,8.956 -20,20v108l27.86,-28h84.14c11.044,0 20,-8.956 20,-20v-60c0,-11.044 -8.956,-20 -20,-20z" fill="#2196f3"></path></g></g></svg>

    <svg xmlns="http://www.w3.org/2000/svg" class="ml-3" x="0px" y="0px"
    width="60" height="60"
    viewBox="0 0 192 192"
    style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,192v-192h192v192z" fill="none"></path><g><g id="surface1"><path d="M152,168h-112c-8.84375,0 -16,-7.15625 -16,-16v-112c0,-8.84375 7.15625,-16 16,-16h112c8.84375,0 16,7.15625 16,16v112c0,8.84375 -7.15625,16 -16,16" fill="#2ecc71"></path><path d="M124,96l-44,-32v64z" fill="#ffffff"></path></g></g></g></svg>

    <svg xmlns="http://www.w3.org/2000/svg" class="ml-3" x="0px" y="0px"
    width="60" height="60"
    viewBox="0 0 48 48"
    style=" fill:#000000;"><g id="surface1"><path style=" fill:#42A5F5;" d="M 28 7 C 25.789063 7 24 8.789063 24 11 L 24 36 C 22.34375 36 21 37.34375 21 39 C 21 40.65625 22.34375 42 24 42 C 25.304688 42 26.402344 41.160156 26.816406 40 C 27.191406 40 27.585938 40 28 40 L 48 40 L 48 7 Z "></path><path style=" fill:#0D47A1;" d="M 28 15 L 36 15 L 36 17 L 28 17 Z M 36 19 L 28 19 L 28 21 L 36 21 Z M 28 25 L 36 25 L 36 23 L 28 23 Z M 38 17 L 40 17 L 40 15 L 38 15 Z M 40 19 L 38 19 L 38 21 L 40 21 Z M 44 19 L 42 19 L 42 21 L 44 21 Z M 42 25 L 44 25 L 44 23 L 42 23 Z M 42 17 L 44 17 L 44 15 L 42 15 Z "></path><path style=" fill:#90CAF9;" d="M 20 40 L 0 40 L 0 7 L 20 7 C 22.210938 7 24 8.789063 24 11 L 24 40 C 24 40 22.210938 40 20 40 "></path><path style=" fill:#1976D2;" d="M 4 15 L 12 15 L 12 17 L 4 17 Z M 12 19 L 4 19 L 4 21 L 12 21 Z M 4 25 L 12 25 L 12 23 L 4 23 Z M 4 29 L 12 29 L 12 27 L 4 27 Z M 4 33 L 12 33 L 12 31 L 4 31 Z M 14 17 L 16 17 L 16 15 L 14 15 Z M 16 19 L 14 19 L 14 21 L 16 21 Z M 20 19 L 18 19 L 18 21 L 20 21 Z M 18 25 L 20 25 L 20 23 L 18 23 Z M 14 29 L 16 29 L 16 27 L 14 27 Z M 18 17 L 20 17 L 20 15 L 18 15 Z M 18 29 L 20 29 L 20 27 L 18 27 Z M 18 33 L 20 33 L 20 31 L 18 31 Z "></path></g></svg>

    <svg xmlns="http://www.w3.org/2000/svg" class="ml-3" x="0px" y="0px"
    width="60" height="60"
    viewBox="0 0 192 192"
    style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,192v-192h192v192z" fill="none"></path><g><g id="surface1"><path d="M51.04688,96c-0.64062,0 -1.28125,-0.09375 -1.90625,-0.3125l-25.04687,-7.98438c-3.14063,-1.0625 -4.82813,-4.45312 -3.78125,-7.59375c1.04688,-3.14062 4.45312,-4.84375 7.59375,-3.79688l20.09375,6.34375l12.625,-27.32813c0.90625,-1.79687 2.64062,-3.03125 4.625,-3.28125l32,-4c1.85938,-0.23438 3.6875,0.40625 4.98438,1.71875l16.125,16.125l15.79688,-16.5c2.54687,-2.125 6.32812,-1.78125 8.45312,0.76563c2.10938,2.54687 1.76562,6.32812 -0.76562,8.45312l-20,20c-2.39063,1.98438 -5.89063,1.84375 -8.09375,-0.35938l-21.75,-18.25l-24,12l-11.59375,20.6875c-1.03125,2.07812 -3.15625,3.3125 -5.35938,3.3125z" fill="#ffb74d"></path><path d="M97.25,48.04688l-32,4c-1.98438,0.25 -3.71875,1.48438 -4.625,3.26562l-5.20312,11.29688l12.57812,5.39062l32,-4l9.45312,-11.03125l-7.20312,-7.20313c-1.3125,-1.3125 -3.14062,-1.95312 -5,-1.71875z" fill="#ba68c8"></path><path d="M84,124c-8.84375,0 -16,0.82812 -16,-8v-56c0,-8.84375 7.15625,-4 16,-4c8.84375,0 16,-4.84375 16,4v52.25c0,8.82812 -7.15625,11.75 -16,11.75z" fill="#ba68c8"></path><path d="M76,12c8.84375,0 16,7.15625 16,16c0,8.82812 -7.15625,16 -16,16c-8.84375,0 -16,-7.17188 -16,-16c0,-8.84375 7.15625,-16 16,-16" fill="#ffb74d"></path><path d="M148,80c-4,0 -4,4 -4,4v25.07812c0,0 8,11.625 8,7.09375c0,0 0,-19.5625 0,-21.5c0,-1.9375 1.28125,-2.59375 2.57812,-2.59375c9.42188,0 13.10938,7.95313 13.10938,7.95313c0,0 4.3125,-20.03125 -19.6875,-20.03125z" fill="#ff754c"></path><path d="M152.07812,115.92188c0,-4.42188 -4.46875,-8.01562 -10,-8.01562c-5.51562,0 -10,3.59375 -10,8.01562c0,4.42188 4.48438,8 10,8c5.53125,0 10,-3.57812 10,-8z" fill="#ff754c"></path><path d="M117.0625,167.35938l-20.76562,-25.51562l3.375,-26.54688c0.01562,-0.01562 0.01562,-0.03125 0.01562,-0.04688l0.26562,-2.125c0.01563,-0.125 0,-0.29688 0,-0.4375c0,-0.15625 0.04688,-0.28125 0.04688,-0.4375v-4.25h-32v-0.03125l-11.53125,32.14062c-1.14063,2.04688 -1.3125,4.5 -0.5,6.70312l12,32c1.21875,3.20312 4.26562,5.1875 7.5,5.1875c0.92187,0 1.875,-0.17188 2.79687,-0.51562c4.14063,-1.54688 6.25,-6.15625 4.6875,-10.29688l-10.70312,-28.53125l7.75,-16.65625l0.04688,15.10938c-0.21875,1.96875 0.29688,3.9375 1.4375,5.53125l22.5625,28c1.5625,2.1875 4.01562,3.35938 6.51562,3.35938c1.60938,0 3.23438,-0.48438 4.64062,-1.48438c3.59375,-2.57812 4.42188,-7.57812 1.85938,-11.15625z" fill="#d2ccc9"></path><path d="M80,120l-12,-12.03125l-11.53125,32.14062c-1.14063,2.04688 -1.3125,4.5 -0.5,6.70312l12,32c1.21875,3.20312 4.26562,5.1875 7.5,5.1875c0.92187,0 1.875,-0.17188 2.79687,-0.51562c4.14063,-1.54688 6.25,-6.15625 4.6875,-10.29688l-10.70312,-28.53125l7.75,-16.65625z" fill="#b2aead"></path><path d="M68,72l8,4v32h-8z" fill="#ab47bc"></path></g></g></g></svg>

    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
    width="60" height="60"
    viewBox="0 0 192 192"
    style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,192v-192h192v192z" fill="none"></path><g id="Layer_1"><g fill="#000000" font-family="-apple-system, BlinkMacSystemFont, San Francisco, HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Segoe UI, Fira Sans, Roboto, Oxygen, Ubuntu, Droid Sans, Arial, sans-serif" font-weight="400" font-size="16" text-anchor="start"></g><path d="M176,96c0,44 -36,80 -80,80c-44,0 -80,-36 -80,-80c0,-44 36,-80 80,-80c44,0 80,36 80,80z" fill="#ffca28"></path><path d="M132,108c0,3.44 -1.08,16.44 -6.76,28.04h-58.64c-5.68,-11.6 -6.8,-24.6 -6.6,-28.04z" fill="#5d4037"></path><path d="M55.2,86.4l-6.4,-4.8c0.4,-0.4 7.2,-9.6 19.2,-9.6c12,0 18.8,9.2 19.2,9.6l-6.4,4.8c0,0 -5.2,-6.4 -12.8,-6.4c-7.6,0 -12.8,6.4 -12.8,6.4z" fill="#b76c09"></path><path d="M111.2,86.4l-6.4,-4.8c0.4,-0.4 7.2,-9.6 19.2,-9.6c12,0 18.8,9.2 19.2,9.6l-6.4,4.8c0,0 -5.2,-6.4 -12.8,-6.4c-7.6,0 -12.8,6.4 -12.8,6.4z" fill="#b76c09"></path><path d="M125.24,136.04c-5.08,10.56 -14,19.96 -29.24,19.96c-15.24,0 -24.2,-9.4 -29.4,-19.96c0,0 7.9,-8.04 29.4,-8.04c21.5,0 29.24,8.04 29.24,8.04z" fill="#c62828"></path></g></g></svg>

    <svg xmlns="http://www.w3.org/2000/svg" class="ml-3" x="0px" y="0px"
    width="60" height="60"
    viewBox="0 0 192 192"
    style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,192v-192h192v192z" fill="none"></path><g><g id="surface1"><path d="M76,88h40v80h-40z" fill="#00bcd4"></path><path d="M128,32h40v136h-40z" fill="#00bcd4"></path><path d="M24,120h40v48h-40z" fill="#00bcd4"></path><path d="M44,32l40,40v-40z" fill="#3f51b5"></path><path d="M37.57812,89.73438l-11.3125,-11.3125l39.875,-39.875l11.3125,11.3125z" fill="#3f51b5"></path></g></g></g></svg>

    <svg xmlns="http://www.w3.org/2000/svg" class="ml-3" x="0px" y="0px"
    width="60" height="60"
    viewBox="0 0 192 192"
    style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,192v-192h192v192z" fill="none"></path><g><g id="surface1"><path d="M68,84c0,11.04688 -8.95312,20 -20,20c-11.04688,0 -20,-8.95312 -20,-20c0,-11.04688 8.95312,-20 20,-20c11.04688,0 20,8.95312 20,20z" fill="#ffa726"></path><path d="M8,138.79688c0,0 11.20312,-25.20312 40,-25.20312c28.79688,0 40,25.20312 40,25.20312v13.20312h-80z" fill="#455a64"></path><path d="M184,138.79688c0,0 -11.20312,-25.20312 -40,-25.20312c-28.79688,0 -40,25.20312 -40,25.20312v13.20312h80z" fill="#455a64"></path><path d="M120,68c0,13.25 -10.75,24 -24,24c-13.25,0 -24,-10.75 -24,-24c0,-13.25 10.75,-24 24,-24c13.25,0 24,10.75 24,24z" fill="#ffb74d"></path><path d="M144,136.40625c0,0 -13.20312,-30 -48,-30c-34.79688,0 -48,30 -48,30v15.59375h96z" fill="#607d8b"></path><path d="M164,84c0,11.04688 -8.95312,20 -20,20c-11.04688,0 -20,-8.95312 -20,-20c0,-11.04688 8.95312,-20 20,-20c11.04688,0 20,8.95312 20,20z" fill="#ffa726"></path><path d="M68,84c0,11.04688 -8.95312,20 -20,20c-11.04688,0 -20,-8.95312 -20,-20c0,-11.04688 8.95312,-20 20,-20c11.04688,0 20,8.95312 20,20z" fill="#ffa726"></path><path d="M164,84c0,11.04688 -8.95312,20 -20,20c-11.04688,0 -20,-8.95312 -20,-20c0,-11.04688 8.95312,-20 20,-20c11.04688,0 20,8.95312 20,20z" fill="#ffa726"></path></g></g></g></svg>

    <svg xmlns="http://www.w3.org/2000/svg" class="ml-3" x="0px" y="0px"
    width="60" height="60"
    viewBox="0 0 192 192"
    style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,192v-192h192v192z" fill="none"></path><g id="Layer_1"><g id="surface1"><path d="M180,128l-22.8,4h-136.8l-4.4,-0.8l-7.2,-29.2h174.8z" fill="#263238"></path><path d="M176,130c0,10 -8,18 -18,18c-10,0 -18,-8 -18,-18c0,-10 8,-18 18,-18c10,0 18,8 18,18z" fill="#607d8b"></path><path d="M168,130c0,5.6 -4.4,10 -10,10c-5.6,0 -10,-4.4 -10,-10c0,-5.6 4.4,-10 10,-10c5.6,0 10,4.4 10,10z" fill="#cfd8dc"></path><path d="M154,132c-1.2,0 -2,-0.8 -2,-2c0,-3.2 2.8,-6 6,-6c1.2,0 2,0.8 2,2c0,1.2 -0.8,2 -2,2c-1.2,0 -2,0.8 -2,2c0,1.2 -0.8,2 -2,2z" fill="#ffffff"></path><path d="M56,130c0,10 -8,18 -18,18c-10,0 -18,-8 -18,-18c0,-10 8,-18 18,-18c10,0 18,8 18,18z" fill="#607d8b"></path><path d="M48,130c0,5.6 -4.4,10 -10,10c-5.6,0 -10,-4.4 -10,-10c0,-5.6 4.4,-10 10,-10c5.6,0 10,4.4 10,10z" fill="#cfd8dc"></path><path d="M20,83.6c0,0 9.6,-19.6 13.2,-26c5.2,-9.2 14.4,-17.6 37.2,-17.6c4.4,0 14,0 17.6,0c29.6,0 32.8,8.4 36.4,13.2c3.6,4.8 18,25.6 18,25.6c0,0 -3.2,8 -43.6,8c-40.4,0 -78.8,-3.2 -78.8,-3.2z" fill="#f44336"></path><path d="M183.6,93.6c0,0 -5.6,-16.8 -43.6,-17.6c-1.2,0 -2.8,0.4 -3.6,0.8c-4.4,2.4 -11.6,3.2 -14.4,3.2h-100c-4,0 -7.6,2 -10,4.8c-4.8,6.4 -12,18.4 -12,32.8c0,7.6 10.4,11.6 16,13.2c0,-0.4 0,-0.8 0,-1.2c0,-12 10,-22 22,-22c12,0 22,10 22,22c0,0.8 0,1.2 0,2h76v0c0,-0.8 0,-1.2 0,-2c0,-12 10,-22 22,-22c11.6,0 20.8,8.8 22,20v0c4.4,-0.4 8,-4 8,-8.4v-20c0,-4.4 -4.4,-5.6 -4.4,-5.6z" fill="#f44336"></path><path d="M38,104c-14.4,0 -25.6,11.6 -26,25.6c1.6,0.4 2.8,1.2 4,1.2c0,-0.4 0,-0.8 0,-1.2c0,-12 10,-22 22,-22c12,0 22,10 22,22c0,0.8 0,1.2 0,2h4c0,-0.8 0,-1.2 0,-2c0,-14 -11.6,-25.6 -26,-25.6z" fill="#f26f6c"></path><path d="M158,104c-14.4,0 -26,11.6 -26,26c0,0.8 0,1.2 0,2h4v0c0,-0.8 0,-1.2 0,-2c0,-12 10,-22 22,-22c1.2,0 2.8,0 4,0.4h0.4c1.2,0.4 2.4,0.8 3.6,1.2h0.4c1.2,0.4 2,0.8 3.2,1.6l0.4,0.4c0.8,0.8 2,1.2 2.8,2l0.4,0.4c0.8,0.8 1.6,1.6 2.4,2.4l0.4,0.4c0.8,0.8 1.2,2 2,2.8v0.4c0.4,1.2 1.2,2.4 1.2,3.6c0,0 0,0 0,0.4c0.4,1.2 0.8,2.4 0.8,4v0c1.2,0 2.8,-0.4 3.6,-1.2c-1.2,-12.8 -12.4,-22.8 -25.6,-22.8z" fill="#f26f6c"></path><path d="M34,132c-1.2,0 -2,-0.8 -2,-2c0,-3.2 2.8,-6 6,-6c1.2,0 2,0.8 2,2c0,1.2 -0.8,2 -2,2c-1.2,0 -2,0.8 -2,2c0,1.2 -0.8,2 -2,2z" fill="#ffffff"></path><path d="M92,96h-12c-2.4,0 -4,-1.6 -4,-4c0,-2.4 1.6,-4 4,-4h12c2.4,0 4,1.6 4,4c0,2.4 -1.6,4 -4,4z" fill="#ef9a9a"></path><path d="M76,80h50c3.2,0 5.2,-3.6 3.2,-6.4l-11.6,-17.6c-3.2,-4.8 -8.8,-8 -14.8,-8h-22.8c-2.4,0 -4,1.6 -4,4z" fill="#263238"></path><path d="M68,52.4v23.6c0,2.4 -1.6,4 -4,4h-28.4c-2.8,0 -4.8,-2.8 -3.6,-5.6c3.2,-8.4 12,-24.4 31.6,-26.4c2.4,0 4.4,2 4.4,4.4z" fill="#263238"></path><path d="M186.4,124h3.2c1.2,0 2.4,-1.2 2.4,-2.4v-3.2c0,-1.2 -1.2,-2.4 -2.4,-2.4h-3.2c-1.2,0 -2.4,1.2 -2.4,2.4v3.2c0,1.2 1.2,2.4 2.4,2.4z" fill="#cfd8dc"></path><path d="M5.2,110.8l2.4,-10l-4,-1.6c-1.2,3.2 -2.4,6.4 -2.8,10z" fill="#ffcdd2"></path><path d="M7.2,118.4l-6,-2c-0.8,-0.4 -1.2,-0.8 -1.2,-1.6v-4.4c0,-1.2 1.2,-2 2.4,-1.6l7.2,2.4c1.2,0.4 2.4,2 2.4,3.6c0,2.4 -2.4,4.4 -4.8,3.6z" fill="#cfd8dc"></path><path d="M190,112h-2c0,0 -2,-1.2 -2,-6c0,-4.8 2,-6 2,-6h2c1.2,0 2,0.8 2,2v8c0,1.2 -0.8,2 -2,2z" fill="#ffc107"></path></g></g></g></svg>
</div>